#root {
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  background-color: #f5f5f5;
  padding-top: 1em;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  height: 3%;
  background-color: #141414;
  border-radius: 0.5em;
  padding: 0.5em;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.logo {
  animation: moveLogo 1.5s ease-out infinite;
}

@keyframes moveLogo {
  0% {
    transform: translateX(-15px);
    opacity: 1;
  }
  60% {
    transform: translateX(50px);
    opacity: 1;
  }
  100% {
    transform: translateX(75px);
    opacity: 0;
  }
}

button {
  background-color: #ffffff;
  color: #141414;
  font-weight: 600;
  border-radius: 1em;
  padding: 0.7em 1em;
}

button:hover{
  transform: scale(1.1);
  cursor:pointer;
}

.buttons{
  display:flex;
  align-items:center;
  gap:1em;
}
